*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
     
}

body{
    background-image: url(images/background.jpg);
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
}
.navbar-nav .nav-link{
    font-family: sans-serif;
    color: white;
    font-weight: bolder;
}

#loginbox{
    margin-top: 200px;
}

.bodylg{
    overflow-x: hidden;
}



